body {
  background-image: url("/assets/userlogin.jpg");

  background-size: 100%;
  height: 570px;
}

.container {
  width: 20rem;
}

.input {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.form-group {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: brown;
  font-weight: 400;
  font-size: 20px;
}
